In [3]:
import pandas as pd
import numpy as np
from time import sleep

from nba_api.stats.static.players import get_players, get_active_players
from nba_api.stats.static.teams import get_teams
from nba_api.stats.endpoints import leaguestandings, playercareerstats

In [2]:
all_teams = pd.DataFrame(get_teams())
all_players = pd.DataFrame(get_players())
active_players = pd.DataFrame(get_active_players())

In [8]:
standings = leaguestandings.LeagueStandings(league_id='00', season='2022-23', season_type='Regular Season')
standings = standings.get_data_frames()[0]

In [1]:
# results = []
# for p_id in active_players['id'].values:
#     print('start {}'.format(p_id))
#     stats_obj = playercareerstats.PlayerCareerStats(player_id=p_id)
#     stats_df = stats_obj.get_data_frames()[0]
#     results.append(stats_df)
#     print('done {}'.format(p_id))
#     sleep(1)

In [17]:
df = pd.concat(results)
df.to_csv("PlayerCareerStats.csv")

Questions:
Does the top scorers points impact the teams record?

In [7]:
player_stats = pd.read_csv("PlayerCareerStats.csv",index_col=0)

In [8]:
player_stats

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,1630173,2020-21,0,1610612748,MIA,21.0,61,4,737.0,124,...,0.509,73,135,208,29,20,28,43,91,304
1,1630173,2021-22,0,1610612761,TOR,22.0,73,28,1725.0,265,...,0.595,146,327,473,82,37,41,84,151,664
2,1630173,2022-23,0,1610612761,TOR,23.0,55,12,1141.0,196,...,0.702,100,228,328,50,31,30,59,102,508
0,203500,2013-14,0,1610612760,OKC,20.0,81,20,1197.0,93,...,0.581,142,190,332,43,40,57,71,203,265
1,203500,2014-15,0,1610612760,OKC,21.0,70,67,1771.0,217,...,0.502,199,324,523,66,38,86,99,222,537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,1627826,2018-19,0,0,TOT,22.0,59,37,1039.0,212,...,0.802,115,247,362,63,14,51,70,137,525
5,1627826,2019-20,0,1610612746,LAC,23.0,72,70,1326.0,236,...,0.747,197,346,543,82,16,66,61,168,596
6,1627826,2020-21,0,1610612746,LAC,24.0,72,33,1609.0,257,...,0.789,189,330,519,90,24,62,81,187,650
7,1627826,2021-22,0,1610612746,LAC,25.0,76,76,1852.0,310,...,0.727,217,427,644,120,36,77,114,203,785
8,1627826,2022-23,0,1610612746,LAC,26.0,76,76,2169.0,326,...,0.697,236,520,756,77,29,98,117,219,818